# ACTION=="add", SUBSYSTEM=="tty", PROGRAM=/home/work/control/getDevName.sh, SYMLINK=%c
KERNEL=="ttyUSB*", ACTION=="add", SUBSYSTEM=="tty", PROGRAM="/home/work/control/getDevName.sh", SYMLINK="%c"
